header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}


.thriv{
    color: #62D0DF;
    font-weight: 900;
    
    
    
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    
    
}
.btn{
    height: 40px;
    background-color: skyblue;
    color: antiquewhite;
    border-style: none;
    border-radius: 50px;
    text-transform: uppercase;
    width: 130px;
}

ul li{
    font-size: 15px;
}